{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Meta tags -->
    <title>Hotel Natural Village</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="robots" content="index,follow">
<meta name="Googlebot" content="index, follow"/>
<meta name="distribution" content="Global">
<meta name="revisit-after" content="2 Days" />
<meta name="classification" content="Hotel, Hotels in Nepal" />
<meta name="category" content="Hotel, Hotels in Nepal" />
<meta name="language" content="en-us" />
<meta name="keywords" content="Family-friendly Hotel with Free Water Park Access and Restaurant. Near Banglamukhi Temple. Bundle Travel and Save. Expedia Rewards. Secure Booking. Limited Time Offers. Same Day Availability. Instant Confirmation. Recommended. 24/7 Customer Support.">
<meta name="description" content="Family-friendly Hotel with Free Water Park Access and Restaurant. Near Banglamukhi Temple. Bundle Travel and Save. Expedia Rewards. Secure Booking. Limited Time Offers. Same Day Availability. Instant Confirmation. Recommended. 24/7 Customer Support.">
<meta name="author" content="Longtail-e-media">
{% comment %} <link rel="canonical" href="https://hotelhimalaya.com.np:443/home" /> {% endcomment %}

<base url="https://hotelhimalaya.com.np/"/>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155314469-8"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-155314469-8');
		</script>



    <!-- Fevicon -->
    {% comment %} <link rel="shortcut icon" href="https://hotelhimalaya.com.np/images/preference/o7n0Y-apple_touch_icon.png"> 
							    <link rel="apple-touch-icon" href="https://hotelhimalaya.com.np/images/preference/o7n0Y-apple_touch_icon.png"> 
							    <link rel="apple-touch-icon" sizes="72x72" href="https://hotelhimalaya.com.np/images/preference/o7n0Y-apple_touch_icon.png"> 
							    <link rel="apple-touch-icon" sizes="114x114" href="https://hotelhimalaya.com.np/images/preference/o7n0Y-apple_touch_icon.png"> {% endcomment %}

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/owl.theme.default.css" type="text/css">
    <!-- Css -->
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/jquery-ui.css" type="text/css">

    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/vendors/stroke-icon/style.css" type="text/css">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/vendors/flat-icon/flaticon.css" type="text/css">

    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/vendors/lightbox/simpleLightbox.css">

    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/popup.css" type="text/css">
    <link rel="stylesheet" href="https://hotelhimalaya.com.np/template/web/assets/css/responsive.css" type="text/css">

    <meta property="og:url" content="https://hotelhimalaya.com.np/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Hotel Himalaya"/>
    <meta property="og:description" content="Your smile is our reward."/>
</head>

<body>
    {% include "navbar.html" %}
    {% block content %}
    {% endblock content %}
</body>