<header class="main_header_area">
     <section class="top-bar dhomev">
                  <div class="container">
                  </div>
                <!-- /.pull-left left-infos-->
                 <div class="pull-right right-infos link-list">
    
            </div>
        <!-- /.container-->
        </section>
    <div class="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- <div class="navbar-header">
                    <a href="#"><img alt="Hotel Natural Village" src="pictures/logo.jpg"></a> -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                            
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="hotel_name" style="text-align:center ; justify-content:center; font-size: 50px; color: whitesmoke; padding-top: 20px;">Hotel Natural Village</div>
            <ul class="nav navbar-nav" styple="font-size: 30px;">
		        <li ><a href="/" class="dropdown-toggle" id="id_home">Home</a></li>
                <li ><a href="rooms.html" id="id_rooms">Rooms</a></li>
                <li ><a href="book.html" id="id_rooms">Book</a></li>
		        <li ><a href="contactus.html"  id="id_contact">Contact Us</a></li>   
                <li >
                    <a href="login.html" class="loginbutton">Login</a>
                </li>           
    </ul>
                </div>
        </div>
        </nav>
    </div>
</header>